hat_trick/households.db
hat_trick/names.txt
time_sheet/timesheet.db
enc_dec_tool/dec.txt
enc_dec_tool/enc.txt
enc_dec_tool/__pycache__/
time_sheet/__pycache__/
time_sheet/Timesheet_Report_Current.lnk
time_sheet/Timesheet_Report_By_Month.lnk
time_sheet/Timesheet_Report_All.lnk
time_sheet/report.txt
time_sheet/Timesheet_Import.lnk
.vs/personal_dev/v17/.wsuo
.vs/personal_dev/FileContentIndex/read.lock
.vs/personal_dev/FileContentIndex/d362cf27-962d-44cc-b761-d6c7c061c505.vsidx
Python.code-workspace
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
hat_trick/__pycache__/
time_sheet/input/timesheet_backup.txt
time_sheet/timesheet_consulting_backup.db
